

<div class="container">
    <h1>{{title}}</h1>
<div class="row">
  <div class="col-3">
    <input type="text"class="form-control" #name>
  </div>
  <div class="col-6">
    <button type="button" class="btn btn-primary"(click)= "addTodo(name.value)"> add </button>
  </div>
</div>


<table  class="table">
  <tr>
    <th>LABEL</th>
    <th>NUMBER</th>
    <th>DONE</th>
    <th>ACTION</th>
  </tr>
  <tr *ngFor="let todo of todos">
    <td>{{todo.label}}</td>
    <td>{{todo.no}}</td>
    <td>{{todo.done ? 'yes' : 'no'}}</td>
    <button type="butoon" class="btn btn-danger" (click)="deleteTodo(todo)">Delete</button>
    <button type="button" class="btn btn-success"(click)="markAsDoneTodo(todo)">Done</button>
  </tr>
</table>
</div>